.dino{
	width:32px;
	height:32px;
	border-radius: 8px;
	background:#ccc;
	margin-left:8px;
	position:relative;
}

@dino0:#1abc9c;
@dino1:#2ecc71;
@dino2:#2f88ca;
@dino3:#9b59b6;
@dino4:#34495e;
@dino5:#16a085;
@dino6:#27ae60;
@dino7:#f1c40f;
@dino8:#e67e22;
@dino9:#e74c3c;
@dino10:#95a5a6;
@dino11:#f39c12;
@dino12:#ffffff;
@dino13:#c0392b;
@dino14:#bdc3c7;
@dino15:#6f7c7d;
@dino16:#d35400;
@dino17:#000000;



.dino0 { background: @dino0;}
.dino1 { background: @dino1;}
.dino2 { background: @dino2;}
.dino3 { background: @dino3;}
.dino4 { background: @dino4;}
.dino5 { background: @dino5;}
.dino6 { background: @dino6;}
.dino7 { background: @dino7;}
.dino8 { background: @dino8;}
.dino9 { background: @dino9;}
.dino10 { background: @dino10;}
.dino11 { background: @dino11;}
.dino12 { background: @dino12;}
.dino13 { background: @dino13;}
.dino14 { background: @dino14;}
.dino15 { background: @dino15;}
.dino16 { background: @dino16;}
.dino17 { background: @dino17;}


.dinoinner.dino0 { border-bottom-color: @dino0;}
.dinoinner.dino1 { border-bottom-color: @dino1;}
.dinoinner.dino2 { border-bottom-color: @dino2;}
.dinoinner.dino3 { border-bottom-color: @dino3;}
.dinoinner.dino4 { border-bottom-color: @dino4;}
.dinoinner.dino5 { border-bottom-color: @dino5;}
.dinoinner.dino6 { border-bottom-color: @dino6;}
.dinoinner.dino7 { border-bottom-color: @dino7;}
.dinoinner.dino8 { border-bottom-color: @dino8;}
.dinoinner.dino9 { border-bottom-color: @dino9;}
.dinoinner.dino10 { border-bottom-color: @dino10;}
.dinoinner.dino11 { border-bottom-color: @dino11;}
.dinoinner.dino12 { border-bottom-color: @dino12;}
.dinoinner.dino13 { border-bottom-color: @dino13;}
.dinoinner.dino14 { border-bottom-color: @dino14;}
.dinoinner.dino15 { border-bottom-color: @dino15;}
.dinoinner.dino16 { border-bottom-color: @dino16;}
.dinoinner.dino17 { border-bottom-color: @dino17;}


.dinoinner{
	width:0px;
	height:0px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 12px solid transparent;	
	left:10px;
	position: absolute;
	top: 10px;
}