#examples{
	width:100%;
	height:100%;
	position: absolute;
	top:-200%;
	left:0;
	display:block;
	font-size: @fontsizenormal;
	.animate;
	background:#999;
}

#examples.show{
	top:0;
}

#examples span.close{
	position:absolute;
	top:0;
	right:12px;
	font-size:@fontsizevvlarge;
	color:#333;
	cursor:hand;
	cursor:pointer;
}

#examples #examplescontent{
	right:1%;
	bottom:1px;
	position: absolute;
	top:@topheight;
	left:1%;
	bottom:1%;
	border-radius:10px;
	background: @mainmenubg;
}

#examples .imgcontainer{
	height: 50%;
	width: 24.9%;
	display:inline-block;
	float:left;
	position: relative;
	cursor:hand;
	cursor:pointer;
}

#examples .imginside{
	position:absolute;
	top:10px;
	bottom:10px;
	left:10px;
	right:10px;
}

#examples .imginside span{
	position:absolute;
	top:5px;
	left:10px;
	color:bg1;
	opacity:0.25;
	font-size:@fontsizelarge;
	color:@bg1;
	z-index:1;
}