@filebg:				#fff;
@menubg:				#fff;

@darken:3%;

@menu:					rgba(120,120,120,0.65);
@trans1:				@menu;
@trans2:				rgba(200,200,200,0.3);

@buttonclr:				#2f8fb3;
@buttonborder:			darken(@buttonclr, @darken);

@bg0				:	@buttonclr;
@border0			:	@buttonborder;
@bg1				:	@menu;
@border1			:	red;
@bg2				:	#c0392b;
@border2			:	darken(@bg2, @darken);

@textbg				:	#ccc;
@mainmenubg			:	#ccc;
@buttontext:			white;
@buttontextdisabled:	#ccc;
@maintext:				#333;

@lightgreen			:	#a6eca8;