
@leftsmallwidth:		196px;
@leftlargewidth:		340px;
@topheight:				40px;
@bottomheight:			40px;
@buttonheight:			40px;
@mainmenusize:			250px;

@tri_size_help:20px;

@fontsizevsmall:80%;
@fontsizesmall:110%;
@fontsizenormal:102%;
@fontsizehelp:90.5%;
@fontsizewrite:150%;
@fontsizelarge:140%;
@fontsizevlarge:175%;
@fontsizevvlarge:210%;

.rightmenutransparent{
	border-color:transparent;
	background-color:#999;
}

.menusmall, .menularge, .menuxlarge{
	position: fixed;
	top: 0;
	height: 100%;
	color:white;
	border:none;
	.animate;
}

.menusmall, .menularge {
	border-color:none;
	background-color:@menu;
}

.shadow{
	-moz-box-shadow: #000 15px 15px 30px 15px !important;
	box-shadow: #000 15px 15px 30px 15px !important;
	-webkit-box-shadow: #000 15px 15px 30px 15px !important;
}

.menusmall{
	width:@leftsmallwidth;
	right: -@leftsmallwidth - 30;
}

.menularge{
	width:@leftlargewidth;
	right: -@leftlargewidth - 30;
}

.menusmall.show, .menularge.show{
	right: 0;
}

.menuxlarge{
	width:100%;
	right: -120%;
	.rightmenutransparent;
}

.menuxlarge.show{
	right: 0;
}

