#examples{
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	display:none;
	font-size: 95%;
}

#examples.show{
	display:block;
}

#examples span.close{
	position:fixed;
	top:0;
	right:12px;
	font-size:300%;
	color:#333;
	cursor:hand;
	cursor:pointer;
}

#examples #examplesbg {
	width:100%;
	height:100%;
	background:@mainmenubg;
	opacity:1;
	position: absolute;
}

#examples #examplescontent{
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
}
