#canvas canvas.easelcanvas{
	position:absolute;
	top:0;
	left:0;
}

#canvas{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	cursor:hand;
	cursor:pointer;
	background-image:url("images/blur.png");
	background-size:cover;
}

#writegrowl{
	color: @menu;
	position: absolute;
	left:6px;
	top:6px;
	opacity:0.5;
	.animate;
}

#writegrowl p{
	font-size:@fontsizelarge;
	margin:0;
	padding:0;
	
}
#writegrowl.show{
	opacity:0.65;
}

#bgcanvas{
	opacity:0.85;
}