#help{
	color:#111;
}

.helpcontainer{
	display:inline-block;
	float:left;
	padding:0px;
	margin:0;
	box-sizing:border-box;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	color:#111;
	overflow:hidden;
}

.helpcontainer .helpcontent p{
	font-size:@fontsizehelp;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
}

.helpcontainer .helpcontent{
	width: 95%;
	height: 97%;
	top: 1.5%;
	left: 2.5%;
	position: relative;
}

.helpcontainer .helpcontent .helpcontentleft, .helpcontainer .helpcontent .helpcontentleftlarge, .helpcontainer .helpcontent .helpcontentleftsmall{
	height:99.5%;
	display:inline-block;
	position: relative;
	float:left;
	padding:10px;
	box-sizing:border-box;
}

.helpcontainer .helpcontent .helpcontentright,  .helpcontainer .helpcontent .helpcontentrightlarge,  .helpcontainer .helpcontent .helpcontentrightsmall{
	position: absolute;
	height:99.5%;
	display:inline-block;
	padding:10px;
	box-sizing:border-box;
}

.helpcontainer .helpcontent .helpcontentleft{
	width:50%;
}
.helpcontainer .helpcontent .helpcontentleftsmall{
	width:35%;
}
.helpcontainer .helpcontent .helpcontentleftlarge{
	width:70%;
}
.helpcontainer .helpcontent .helpcontentright{
	width:49.5%;
}
.helpcontainer .helpcontent .helpcontentrightsmall{
	width:29.5%;
}
#help .helpcontainer .helpcontent .helpcontentrightlarge{
	width:64.5%;
}
.helpcontainer .helpcontent .helpcontentrightsmall .helpblock2{
	position:relative;
	height:49.5%;
}

.helpcontainer ul{
	margin-left: 20px;
}

.helpcontainer li{
	list-style-type: disc;
	padding: 10px;
	color: #444;	
}

.helpcontent pre{
	display: inline-block;
	padding: 10px;
	background: #eef;
	margin-left: 50%;
	position: relative;
	font-size: 120%;
	left: -100px;
}

.helpcontent p.quote{
	width: 75%;
	background: #EEE;
	padding: 10px;
	margin: 10px;
	margin-left: 25px;
	color: #444;
}

.helpcontainer p{
	margin:4px;
	line-height:1.7em;
}

#helpwrapper{
	position:absolute;
	left:0;
	right:0;
	top:50px;
	bottom:0px;
	overflow: hidden;
}

#help #menubuttons{
	width:220px;
	position: relative;
	left: 50px;
	bottom:0;
}

#help #menubuttons .button{
	margin:3px;
}

#help #menubuttons .button i{
	position:absolute;
	top:10px;
	left:20px;
}