@filebg:				#fff;
@menubg:				#fff;

@menu:					#28B62C;
@menuborder:			#23a127;

@bg0				:	#158CBA;
@border0			:	#127BA3;
@bg1				:	@menu;
@border1			:	@menuborder;
@bg2				:	#ff4136;
@border2			:	#ff291c;
@bg3				:	#9b59b6;
@border3			:	darken(@bg3, 10%);
@bg4				:	#ff851b;
@border4			:	#ff7701;
@bg5				:	#777;
@border5			:	#444;

@textbg				:	#eee;
@mainmenubg			:	#eee;
@buttontext:			white;
@buttontextdisabled:	#ccc;
@maintext:				#333;

@lightgreen			:	#a6eca8;