<!DOCTYPE html>

<html class="ui-mobile-rendering" style="background:#34495e;">  
	<head> 
	
		<title>logotacular</title> 
		
		<meta http-equiv="Content-Type"						content="text/html; charset=UTF-8">
		<meta name="HandheldFriendly"						content="true">
		<meta name="viewport"								content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
		<meta name="apple-mobile-web-app-capable"			content="yes">
		<meta name="apple-mobile-web-app-status-bar-style"	content="black-translucent">
		<meta http-equiv="X-UA-Compatible"					content="IE=Edge">
		<meta name="format-detection" 						content="telephone=no">
			
		<link rel="stylesheet" 						href="css/app/main-min.css">
		<link rel="stylesheet" 						href="css/app/font-awesome/css/font-awesome.min.css">
		
		
		
		<script>
			window.onerror = function(message, url, linenumber) {
				if(LG){
					LG.Utils.log('JavaScript error: ' + message + ' on line ' + linenumber + ' for ' + url);
				}
			}
		</script>
		
		<!-- There follows all the template files in html in no particular order-->
		
		<script id="tpl_menubuttons" type="text/template">
			<ul id="menubuttons">
				
			</ul>
		</script>
		
		
		
		
		<script id="tpl_activitybuttons" type="text/template">
			<div id="basebuttons">
			</div>
		</script>
		
		<script id="tpl_writebuttons" type="text/template">
			<div id="writebuttons">
			</div>
		</script>
		
		<script id="tpl_writetop" type="text/template">
			<div id="writetop" class="menutop">
			</div>
		</script>
		
		<script id="tpl_menutop" type="text/template">
			<div id="menutop" class="menutop">
			</div>
		</script>
		
		<script id="tpl_redobutton" type="text/template">

			<button class="action transparent button<% if(disabled){print(" disabled");} %>" >
				<span>
					<i class="fa fa-rotate-right"></i>
				</span>
			</button>
			
		</script>
		
		
		
		
		<script id="tpl_settingsbutton" type="text/template">

			 <a href="#"  class="action button right transparent buttonxsmall" >
				 <span>
					<i class="fa fa-align-justify"></i>
				 </span>
			 </a>
			 
			
		</script>
		
		<script id="tpl_homebutton" type="text/template">

			 <a href="#" id="homebutton" class="action button right transparent buttonxsmall" >
				 <span>
					<i class="fa fa-home"></i>
				 </span>
			 </a>
			 
			
		</script>
		
		<script id="tpl_undobutton" type="text/template">

			<button class="action transparent button<% if(disabled){print(" disabled");} %>" >
				<span>
					<i class="fa fa-undo"></i>
				</span>
			</button>
			
		</script>
		
		<script id="tpl_deletebutton" type="text/template">

			<button class="action button transparent<% if(disabled){print(" disabled");} %>" >
				<span>
					<i class="fa fa-trash-o"></i>
				</span>
			</button>
			
		</script>
		
		<script id="tpl_newbutton" type="text/template">

			<button id="newbutton" class="action button buttonsmall<% if(disabled){print(" disabled");} %>" >
				<span>
					New file
				</span>
			</button>
			
		</script>
		
		
		
		<script id="tpl_spinner" type="text/template">
			
			<div id="spinner">
				<div id="spinneroverlay"></div>
				<div id="spinnerbox"></div>
			</div>
			
		</script>
		
		<script id="tpl_writebar" type="text/template">

			
			<div id = "writebar">
				<i class="fa fa-chevron-left"></i>
			</div>
			
		</script>
		
	
		
		
		<script id="tpl_writebutton" type="text/template">

			
			<button class="action button right transparent" >
				<i class="fa fa-chevron-right"></i>
				<span>
					<%=label%>
				</span>
			</button>
			
		</script>
		
		
		<script id="tpl_clearbutton" type="text/template">

			<button class="action button transparent<% if(disabled){print(" disabled");} %>" >
				<span>
					<i class="fa fa-times"></i>
				</span>
			</button>
			
		</script>
		
		<script id="tpl_startbutton" type="text/template">

			<a href="#"  class="action button" ><span><i class="fa fa-play"></i></span></a>
			
		</script>
		
		<script id="tpl_stopbutton" type="text/template">

			<a href="#"  class="action button" ><span><i class="fa fa-stop"></i></span></a>
			
		</script>
		
	
		
		<script id="tpl_dinobutton" type="text/template">

			<button href="#" id="dinobutton" class="action button transparent" >
				<div class="dino dino<%=bg%>">
					<div class="dinoinner dino<%=inner%>"></div>
				</div>
			</button>
			
		</script>
		
		
		

		<script id="tpl_filebutton" type="text/template">

			<a href="#" id="filebutton" class="action button transparent" >
				<span>
					<i class="fa fa-save"></i>
				<%
				if(name){
					
					print(name);
				}
				else{
					print("unsaved file");
				}%>
				<% if(!saved){print("*");}%>
				</span>
			</a>
			
		</script>
		
		
		
		<script id="tpl_helpbutton" type="text/template">

			<a href="#" id="helpbutton" class="action button buttonxsmall transparent" >
				<i class="fa fa-book"></i>
			</a>
			
		</script>
		
		<script id="tpl_helpbuttonmenu" type="text/template">
			
			<li>
				<button class="action button clr4<% if(disabled){print(" disabled");}%>">
					<i class="fa fa-question-circle"></i>
					<span>About / Help</span>
				</button>
			</li>
			
		</script>
		
		<script id="tpl_gallerybutton" type="text/template">

			  <li class="<% if(disabled){print("disabled");} %>">
				<button class="action button clr0<% if(disabled){print(" disabled");} %>">
					<i class="fa fa-files-o"></i>
					<span>Gallery</span>
				</button>
			</li>
			  

		</script>
		
		
		<script id="tpl_examplesbutton" type="text/template">

			  <li>
				<button class="action button clr0">
					<i class="fa fa-lightbulb-o"></i>
					<span>Examples</span>
				</button>
			</li>
			  

		</script>
		
		<script id="tpl_refbutton" type="text/template">

			  <li>
				<button class="action button clr0">
					<i class="fa fa-book"></i>
					<span>Quick reference</span>
				</button>
			</li>
			  

		</script>
		
		
		<script id="tpl_galleryleftbutton" type="text/template">
			<a href="#" id="leftbutton" class="action button<% if(disabled){print(" disabled");} %>" >
				<span>
					<i class="fa fa-left"></i>
				</span>
			</a>
		</script>
		
		<script id="tpl_galleryrightbutton" type="text/template">
			<a href="#" id="rightbutton" class="action button<% if(disabled){print(" disabled");} %>" >
				<span>
					<i class="fa fa-right"></i>
				</span>
			</a>
		</script>
		
		<script id="tpl_loadbutton" type="text/template">

			 <li class="<% if(disabled){print("disabled");} %>">
				<button class="action button clr4<% if(disabled){print(" disabled");}%>">
					<i class="fa fa-briefcase"></i>
					<span>Your files</span>
				</button>
			</li>
			  

		</script>
		
		
		<script id="tpl_savebutton" type="text/template">

			 <button id="savebutton" class="action button buttonsmall
			 
			 	<% if(disabled){
			 		print(" disabled");
			 	}
			 	%>"
			 >
			 
				 <span>
					Save
				 </span>
				 
			 </button>
			
		</script>
		
		
		
		<script id="tpl_logobutton" type="text/template">
		
			<li>
				<button class="action button">
					<i class="fa fa-pencil-square-o"></i>
					<span>Logo</span>
				</button>
			</li>
			  
		</script>
		
		
		<script id="tpl_loginbutton" type="text/template">
			<li class="<% if(disabled){print("disabled");} %>">
				<button id="loginbutton" class="action button<% if(disabled){print(" disabled");} %>" >
				
					<% if(pic){ %>
						<img src='<%= pic %>'/>
					<% } %>
					
							
					<% if(name){ %>
						<span><%=name %></span>
						<span>(Logout)</span>
					<% } else { %>
						<i class="fa fa-facebook-square"></i>
						<span class="fblogin"><%=label%></span>
						
					<% } %>
				
				</button>
			</li>
			  
		</script>
		
		
		<script id="tpl_header" type="text/template">

			<div id="header"></div>
			  
		</script>
		
		<script id="tpl_writegrowl" type="text/template">
			
			<div id="writegrowl" >
				
				<p><%= message%></p>
				
			</div>
			
		</script>
		
		<script id="tpl_canvas" type="text/template">
			
			<div id="canvas" >
				
				<canvas width="<%=width%>" height="<%=height%>" class="easelcanvas" id="bgcanvas">
				</canvas>
				
				<canvas width="<%=width%>" height="<%=height%>" class="easelcanvas" id="commandscanvas">
				</canvas>
				
				<canvas width="<%=width%>" height="<%=height%>" class="easelcanvas" id="turtlecanvas">
				</canvas>
				
				
			</div>
			
		</script>
		
		
		<script id="tpl_write" type="text/template">
			
			<div id="write" class="menularge">
				
				<textarea editable="false" disabled="true" id="logonums"></textarea>
				
				<textarea placeholder="Write code here..." resize="no" id="logodiv" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
				
				<div class="error"></div>
				
			</div>
			
		</script>
		
		
		<script id="tpl_help" type="text/template">
			
			<div id="help" class="menuxlarge">
				
				<div class="gallerytop menutop" >
					<span class="menutitle">About / Help</span>
					<button id="cancelbutton" class="action button button1 right transparent">
						<i class="fa fa-times"></i>
						
					</button>
				</div>
				
				<div id="helpwrapper" >
				
					<div id="helpscroller">
						
						<div class='helpcontainer'>
						
							<div class="helpcontent">
							
								<h3>Welcome to Logotacular!</h3>
										
								<p>
									Logotacular is an application for drawing colourful patterns using the Logo language, designed to help you explore geometry and programming.
								</p>
								
								<div style="position: absolute;top: 70px;left: 0;right: 0;bottom: 0;">
									<img class="centre" id="anim" />
								</div>
								
							</div>
							
						</div>
						
							
						
						<div class='helpcontainer'>
								
							<div class="helpcontent">
						
								<div class="helpcontentleft">
								
									<h3>
										How to write a program
									</h3>
								
									<p>
						
						
						
										The most basic commands in Logo are the 'go forward' command and the 'turn right' command.
					
									
									</p>
									
									<p>You use these commands to control a small on-screen 'turtle', which draws a colourful path as it moves.</p>
								
									<p>
										For example, fd(100) tells the turtle to go forward 100 units (in whatever direction it is facing), and rt(90) tells it turn on the spot 90 degrees clockwise.
									</p>
									<p>

										Try drawing a square using:
									</p>
									<p class="code">
										<pre>fd(100)
rt(90)
fd(100)
rt(90)
fd(100)
rt(90)
fd(100)
rt(90)</pre>
						
									</p>
						
								</div>
						
								<div class="helpcontentright">
									<img class="centre" src="img/help/anim.gif"/>
								</div>
						
							</div>
						</div>
							
							
						<div class='helpcontainer'>
							
							<div class="helpcontent">
						
								<div class="helpcontentleft">
									
									<h3>
										Drawing with colors
									</h3>
									
						
									<p>
You can change the drawing color of the lines, as well as the background color of the page by using the following commands:

									</p>
									
									<p class="code">
										<pre>bg(red)
color(green)</pre>

									</p>
									<p>

										You can change the thickness of the lines drawn (from 1 to 10), and raise/lower the pen.  Lifting the pen will stop lines being drawn until you place it down again.
									</p>
									<p class="code">
										<pre>thick(7)
fd(50) penup() fd(50) pendown()
fd(50) penup() fd(50) pendown()
fd(50)</pre>
							
									</p>
						
								</div>
						
								<div class="helpcontentright">
									<img class="centre" src="img/help/help4.png"/>
								</div>
						
							</div>
							
						</div>
							
							
						<div class='helpcontainer'>
							
							<div class="helpcontent">
						
								<div class="helpcontentleft">
									
									<h3>
										Variables and loops
									</h3>
									
						
									<p>

										Loops can be programmed by use of the 'repeat' command which tells the turtle to execute the commands inside a specific number of times.

										So, our 'draw square' program could be written as :
									</p>
									
									<p class="code">
										<pre>rpt 4
fd(100)
rt(90)
endrpt</pre>

									</p>
									<p>

										Can you work out what the following code will draw?
									</p>
									<p class="code">
										<pre>rpt 5
fd(100)
rt(72)
endrpt</pre>
							
									</p>
									
									
									<p>

										Can you work out how to draw the image on the right?
									</p>
									
								</div>
						
								<div class="helpcontentright">
									<img class="centre" src="img/help/help5.png"/>
								</div>
						
							</div>
						
						</div>
							
							
							
						<div class='helpcontainer'>
								
							<div class="helpcontent">
								
								<div class="helpcontentleftlarge">
								
									<h3>
										Procedures and functions
									</h3>
								
									<p>

									
										A function or procedure is often thought of as telling the turtle the meaning of a new word.
									We could rewrite our 'draw square' program once more:
									</p>
									<p class="code">
										<pre>proc drawSquare
rpt 4
fd(100)
rt(90)
endrpt
endproc

drawSquare()</pre>
									</p>
									<p>

										Recursion can also be used in Logo - for example the following program defines a procedure
										which accepts one variable called 'dist' and repeatedly calls itself, increasing the
										value of 'dist' each time, with the result that an increasing series of line segments is 
										drawn, forming a spiral. Eventually the program will crash because it calls itself too many times!
									</p>
								
									<p class="code">
										<pre>proc drawSpiral(dist)
fd(dist)
rt(90)
drawSpiral(dist+5)
endproc

drawSpiral(10)</pre>
							
									</p>
								
								
								</div>
							
							
							
								<div class="helpcontentrightsmall">
									<div class="helpblock2">
										<img src="img/help/help7.png" class="centre"/>
									</div>
								
									<div class="helpblock2">
										<img src="img/help/help6.png" class="centre"/>
									</div>
								</div>
							
					
							</div>
						
						</div>
							
							
						<div class='helpcontainer'>
								
							<div class="helpcontent">
							
								<h3>
									How to use Logotacular - the main menu
								</h3>
								
								<img class="centre" src="img/help/help8<%if(web){print("web");}%>.png"/>
								
							</div>
					
						</div>
						
						<% if(!web){ %>
						
						<div class='helpcontainer'>
						
							<div class="helpcontent">
							
								<h3>
									How to use Logotacular - the main menu
								</h3>
								
								<img class="centre" src="img/help/help9.png"/>
								
							</div>
					
						</div>
						
						<% } %>
						
							
						<div class='helpcontainer'>
							
							<div class="helpcontent">
							
								<h3>
									How to use Logotacular - writing Logo
								</h3>
								
								<img class="centre" src="img/help/help10.png"/>
								
							</div>
					
					
						</div>
							
						<div class='helpcontainer'>
								
							<div class="helpcontent">
							
								<h3>
									How to use Logotacular - writing Logo
								</h3>
								
								<img class="centre" src="img/help/help11.png"/>
								
							</div>
					
					
						</div>
							
						<div class='helpcontainer'>
							<div class="helpcontent">
						
						
								<div class="helpcontentleftlarge">
									
									<h3>History of Logo</h3>
						
									<p>
						
										Logo was created in 1967 by Wally Feurzeig and Seymour Papert - researchers at MIT. Their goal was to create an easy to learn application where kids could play with words and the structure of sentences. Later versions of Logo included on screen graphics and the forward and right commands to move an on-screen "turtle" around the screen, and it became known as Turtle graphics. In 1969, a physical robot was designed which would move across the floor tracing its path with a pen.
									</p>
									
									<p>
										Seymour Papert pioneered its use in school classrooms as an educational system in the early 1970's, saying:
									</p>
									
									<p class="quote">
										" In many schools today, the phrase 'Computer-Aided Instruction' means making the computer teach the child. One might say the computer is being used to program the child. In my vision the child programs the computer and, in so doing, both acquires a sense of mastery over a piece of the most modern and powerful technology and establishes an intimate contact with some of the deepest ideas from science, from mathematics, and from the art of intellectual model building... 
						
									</p>
						
									<p class="quote">
							
									&hellip;Traditional education codifies what it thinks citizens need to know and sets out to feed children this 'fish'. Constructionism is built on the assumption that children will do best by finding ('fishing') for themselves the specific knowledge that they need.  "
									&hellip; the Turtle is like a person: ' I am here and I am facing north&hellip;'And from these similarities comes the Turtle's special ability to serve as a representative of formal mathematics for a child.
									</p>
								
								</div>
							
								<div class="helpcontentrightsmall">
									<div class="helpblock2">
										<img src="img/help/help2.png" class="centre"/>
									</div>
									
									<div class="helpblock2">
										<img src="img/help/help3.png" class="centre"/>
									</div>
								</div>
						
							</div>
						</div>
							
							
						<div class='helpcontainer'>
								
							<div class="helpcontent">
						
								<h3>
									Privacy policy
							
								</h3>
								
								
								
								<% if(!web){ %>
								
									<p>Logotacular collects no personal information from any users.</p>
									<p>It does not connect to the internet and your files are all saved locally, on your device.</p>
								
								<% } %>
								
								<% if(web){ %>

									<p>Logotacular contains Facebook log in if you wish to save or load your files.</p>
									<p>You can use Logotacular without logging in, in which case no personal information is collected.</p>
									<p>If you do log in, Logotacular will store your Facebook id, to associate you with your files, and no other pieces of personal information such as your name or email address.</p>
									<p>Your files will be visible on the public gallery to enable collaboration and sharing, but your name, Facebook id or any other piece of information is not visible.</p>
									<p>All data is stored securely and is not shared with any 3rd parties.</p>
								
								<% } %>
								
							</div>
						
						</div>
				
					</div>
			
				</div>
			
			</div>
			
		</script>
		
		
		<script id="tpl_menu" type="text/template">
			
			<div id="menu" class="menusmall">
				
			</div>
			
		</script>
		
		
		
		<script id="tpl_alert" type="text/template">
			
			<div id="alert" class="menularge">
				
				<div class="menutop">
					<p><%= message %></p>
					<button id="closebutton" class="action button button1 right transparent">
						<i class="fa fa-times"></i>
					</button>
				</div>
				<p class="errorbody"><%= body %></p>
				<div class="alertbuttons
				
				<%  
					if(okLabel && noLabel){
						print(" alertbuttons3");
					}
					else if(okLabel || noLabel){
						print(" alertbuttons2");
					}
					else{
						print(" alertbuttons1");
					}
				%>
				
				">
					
					<% if(okLabel){%>
						<a href="#" id="okbutton" class="action button button0 clr<%= okColor %>" ><span><%= okLabel %></span></a>
					<%}%>
					
					<% if(noLabel){%>
						<a href="#" id="nobutton" class="action button button1 clr<%= noColor %>" ><span><%= noLabel %></span></a>
					<%}%>	
					
					<a href="#" id="cancelbutton" class="action button button2" ><span><%= cancelLabel %></span></a>
				</div>
				
			</div>
			
			
		</script>
		
		
		<script id="tpl_galleryrow" type="text/template">
			
			<div class="galleryrow"
				
				<%
					if(_id!=null){
						print(" data-id = '"+_id+"'");
					}
					
				%>
				
			>
				
				<div class="mainblock">
				
					<div class="leftcontent">
						<div class="speech">
							<span class="title"><%= name %></span>
							<div class="logo">
								<%= logo %>
							</div>
						</div>
						<span style="display:none;" class="views"><i class="fa fa-eye"/>7</span>
					</div>
					
					<div class="rightcontent">
						<img class="centre" src="http://s3.amazonaws.com/com.jgrindall.logojspgthumbs/thumb_<%= _id %>.png"/>
						<img class="centre" src="<%= img %>"/>
					</div>
					
				</div>
			
			</div>
			
		</script>
		
		
		
		
		<script id="tpl_gallerypage" type="text/template">
			
			<div class="gallerypage">
				
			</div>
					
		</script>
		
		
		
		<script id="tpl_gallerybottom" type="text/template">
			
			<div class="gallerybottom">
						
				
			</div>
					
		</script>
		
		
		
		<script id="tpl_cancelbutton" type="text/template">
			<button id="cancelbutton" class="action button button1 right transparent">
				<i class="fa fa-times"></i>
			</button>
		</script>
		
		
		<script id="tpl_galleryside" type="text/template">
			
			<div class="gallerysideoverlay">
				
				<div class="gallerysidebg"></div>
				
				<div class="galleryside">
				
					
					
					<div class="gallerytop menutop" >
						<p class="title">
							<span class="title"><%= name %></span>
						</p>
						
						<button id="cancelbuttontop" class="action button button1 right transparent">
							<i class="fa fa-chevron-right"></i>
							<span>Cancel</span>
						</button>
						
						
					</div>
			
					
					
					<div class="logo">
						<%= logo %>
					</div>
					
					<% if(_id) { %>
						<div class="imgcontainer"><div class="imginside">
							<img class="centre" src="http://s3.amazonaws.com/com.jgrindall.logojspgthumbs/thumb_<%= _id %>.png"/>
						</div>
					<% } %>
					
					<div class="alertbuttons alertbuttons2">
						<a href="#" id="okbutton" class="action button button0 clr<%= okColor %>" ><span><%= okLabel %></span></a>
						<a href="#" id="cancelbutton" class="action button button2" ><span>Cancel</span></a>
					</div>
					
					<span class="views" style="display:none;"><i class="fa fa-eye"/>7</span>
					
				</div>
				
				
				
			</div>
					
		</script>
		
		
		
		<script id="tpl_gallerytop" type="text/template">
			
			<div class="gallerytop menutop" >
				<span class="menutitle"><%= title%></span>
			</div>
		
					
		</script>
		
		
		
		<script id="tpl_helpoverlay" type="text/template">
			
			<div id="helpoverlay" >
				
				<div class="menutop">
					<span class="menutitle">Quick reference</span>
					<button id="cancelbutton" class="action button button1 right transparent">
						<i class="fa fa-times"></i>
					</button>
				</div>
				
				
				
				<div id="refwrapper" >
				
					<div id="refscroller">
						
						<div class='helpcontainer'>
						
							<div class="helpcontent">
							
								<h3>Basic commands</h3>
										
								<table class="commands">
									<tbody>
										<tr><td>fd</td><td>fd(100)<span class="italic"> - Move forward 100 units</span></td></tr>
										<tr><td>rt</td><td>rt(90)<span class="italic"> - Turn right 90 degrees</span></td></tr>
										<tr><td>penup</td><td>penup()<span class="italic"> - Take the pen off the paper</span></td></tr>
										<tr><td>pendown</td><td>pendown()<span class="italic"> - Put it back down</span></td></tr>
										<tr><td>color</td><td>color(black)<span class="italic"> - Set the pen color to black</span></td></tr>
										<tr><td>bg</td><td>bg(red)<span class="italic"> - Set the background color to red</span></td></tr>
										<tr><td>thick</td><td>thick(5)<span class="italic"> - Set the line thickness to 5 (between 1-10)</span></td></tr>
										<tr><td>rpt</td><td>rpt 4<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;fd(50) rt(90)<br/>endrpt<br/><span class="italic"> - Repeat the statements 'fd(50) rt(90)' 4 times</span></td></tr>
									</tbody>
								</table>
								
							</div>
						
						</div>
						
						
						<div class='helpcontainer'>
							<div class="helpcontent">
						
								<h3>Advanced Commands</h3>
						
								<table class="commands">
									<tbody>
										<tr><td>a:=</td><td>a:=10<span class="italic"> - Set the value of variable a to equal 10</span></td></tr>
										<tr><td>
										proc</td><td>proc drawsquare<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;rpt 4<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;fd(100) rt(90)<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;endrpt<br/>endproc<br/>drawsquare()
										<br/><span class="italic"> - Define a procedure called 'drawsquare', and then call it</span>
										</td></tr>
										<tr><td>
										proc(params)</td><td>proc drawpoly(side, n)<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;rpt n<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;fd(side) rt(360/n)<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;endrpt<br/>endproc<br/>drawpoly(100,5)
										<br/><span class="italic"> - Define a procedure called 'drawpoly' which takes two parameters and then call it using parameters 100 and 5.</span>
										</td></tr>
							
									</tbody>
								</table>
						
							</div>
						</div>
						
						<div class='helpcontainer'>
							
							<div class="helpcontent">
						
								<h3>
									Colors
								</h3>
							
								<table class="colors">
									<tbody>
										<tr class="colors"></tr>
										<tr class="colors"></tr>
										<tr class="colors"></tr>
									</tbody>
								</table>
						
							</div>
						</div>
						
					</div>
			
				</div>
				
			</div>
					
		</script>
		
		
		
		<script id="tpl_examples" type="text/template">
			
			<div id="examples" >
				
				<div class="menutop">
					<span class="menutitle">Examples</span>
					<button id="cancelbutton" class="action button button1 right transparent">
						<i class="fa fa-times"></i>
					
					</button>
				</div>
				
				<div id="examplesbg"></div>
				
				<div id="examplescontent">
				
					<div class="imgcontainer"><div class="imginside"><img class="centre" src="img/help/ex1.png"/></div></div>
					<div class="imgcontainer"><div class="imginside"><img class="centre" src="img/help/ex2.png"/></div></div>
					<div class="imgcontainer"><div class="imginside"><img class="centre" src="img/help/ex3.png"/></div></div>
					<div class="imgcontainer"><div class="imginside"><img class="centre" src="img/help/ex4.png"/></div></div>
					<div class="imgcontainer"><div class="imginside"><img class="centre" src="img/help/ex5.png"/></div></div>
					<div class="imgcontainer"><div class="imginside"><img class="centre" src="img/help/ex6.png"/></div></div>
					<div class="imgcontainer"><div class="imginside"><img class="centre" src="img/help/ex7.png"/></div></div>
					<div class="imgcontainer"><div class="imginside"><img class="centre" src="img/help/ex8.png"/></div></div>
					
				</div>
				
			</div>
		
					
		</script>
		
		
		<script id="tpl_gallerylist" type="text/template">
			<div>
				<span class="nonefound">No files found</span>
				<div class="listwrapper" id="listwrapper<%=showName%>" >
				
					<div class="listscroller" id="listscroller<%=showName%>">
						
					</div>
				
				</div>
				
			</div>
			
		</script>
		
		
		
		
		<script id="tpl_gallery" type="text/template">
			
			<div id="gallery" class="menuxlarge">
				
			</div>
			
		</script>
		
		
		<script id="tpl_load" type="text/template">
			
			<div id="load" class="menuxlarge">
				
			</div>
		
		</script>
		
		
		<script id="tpl_filename" type="text/template">
			
			<div id="filename" class="menularge">
				<div class="menutop">
					<p>Please choose a filename</p>
					
					<button id="closebutton" class="action button button1 right transparent">
						<i class="fa fa-times"></i>
					</button>
					
				</div>
				
				<input type="text" id="filenametext" value="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="your filename"></input>
				<p class="error">Error <%=error %></p>
				<div class="alertbuttons alertbuttons2">
					<a href="#" id="okbutton" class="action button button0" ><span>Ok</span></a>
					<a href="#" id="cancelbutton" class="action button button1" ><span>Cancel</span></a>
				</div>
				
			</div>
			
			
		</script>
		
		
		
		<script id="tpl_activity" type="text/template">
			
			<div id="activity">
				
			</div>
			
		</script>

		
	</head>
	
	
	
	<body>
	
		<div id="fb-root"></div>
		
		<div id="container">
		
			<div id="spinnerbox"></div>
		
		</div>
			
		<script>
		
			// this is a global namespace for all objects in this app.
			window.LG = {};
		
		</script>
		
		<!-- include all the javascript libraries -->
		<script src="js/app/libs-min.js" 					type="text/javascript" charset="utf-8"></script>
		
		_PHONEGAP_
				
		<!-- the main javascript -->
		<script src="js/app/main-min.js" 					type="text/javascript" charset="utf-8"></script>
		
	</body>
	
	
</html>
