<!DOCTYPE html>

<html class="ui-mobile-rendering" style="background:#34495e;">  
	<head> 
	
		<title>logotacular</title> 
		
		<meta http-equiv="Content-Type"						content="text/html; charset=UTF-8">
		<meta name="HandheldFriendly"						content="true">
		<meta name="viewport"								content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
		<meta name="apple-mobile-web-app-capable"			content="yes">
		<meta name="apple-mobile-web-app-status-bar-style"	content="black-translucent">
		<meta http-equiv="X-UA-Compatible"					content="IE=Edge">
		<meta name="format-detection" 						content="telephone=no">
			
		<link rel="stylesheet" 						href="css/app/main-min.css">
		<link rel="stylesheet" 						href="css/app/font-awesome/css/font-awesome.min.css">
		
		
		
		<script>
			window.onerror = function(message, url, linenumber) {
				if(LG){
					LG.Utils.log('JavaScript error: ' + message + ' on line ' + linenumber + ' for ' + url);
				}
			}
		</script>
		
		<!-- There follows all the template files in html in no particular order-->
		
		<script id="tpl_menubuttons" type="text/template">
			<ul id="menubuttons">
				
			</ul>
		</script>
		
		
		
		
		<script id="tpl_activitybuttons" type="text/template">
			<div id="basebuttons">
			</div>
		</script>
		
		<script id="tpl_writebuttons" type="text/template">
			<div id="writebuttons">
			</div>
		</script>
		
		<script id="tpl_writetop" type="text/template">
			<div id="writetop" class="menutop">
			</div>
		</script>
		
		<script id="tpl_menutop" type="text/template">
			<div id="menutop" class="menutop">
			</div>
		</script>
		
		<script id="tpl_redobutton" type="text/template">

			<button class="action transparent button<% if(disabled){print(" disabled");} %>" >
				<span>
					<i class="fa fa-rotate-right"></i>
				</span>
			</button>
			
		</script>
		
		
		
		
		<script id="tpl_settingsbutton" type="text/template">

			 <a href="#"  class="action button right transparent buttonxsmall" >
				 <span>
					<i class="fa fa-align-justify"></i>
				 </span>
			 </a>
			 
			
		</script>
		
		<script id="tpl_homebutton" type="text/template">

			 <a href="#" id="homebutton" class="action button right transparent buttonxsmall" >
				 <span>
					<i class="fa fa-home"></i>
				 </span>
			 </a>
			 
			
		</script>
		
		<script id="tpl_undobutton" type="text/template">

			<button class="action transparent button<% if(disabled){print(" disabled");} %>" >
				<span>
					<i class="fa fa-undo"></i>
				</span>
			</button>
			
		</script>
		
		<script id="tpl_deletebutton" type="text/template">

			<button class="action button transparent<% if(disabled){print(" disabled");} %>" >
				<span>
					<i class="fa fa-trash-o"></i>
				</span>
			</button>
			
		</script>
		
		<script id="tpl_newbutton" type="text/template">

			<button id="newbutton" class="action button buttonsmall<% if(disabled){print(" disabled");} %>" >
				<span>
					New file
				</span>
			</button>
			
		</script>
		
		
		
		<script id="tpl_spinner" type="text/template">
			
			<div id="spinner">
				<div id="spinneroverlay"></div>
				<div id="floatingBarsG">
				<div class="blockG" id="rotateG_01">
				</div>
				<div class="blockG" id="rotateG_02">
				</div>
				<div class="blockG" id="rotateG_03">
				</div>
				<div class="blockG" id="rotateG_04">
				</div>
				<div class="blockG" id="rotateG_05">
				</div>
				<div class="blockG" id="rotateG_06">
				</div>
				<div class="blockG" id="rotateG_07">
				</div>
				<div class="blockG" id="rotateG_08">
				</div>
				</div>
		
		</div>
			</div>
			
		</script>
		
		<script id="tpl_writebar" type="text/template">

			
			<div id = "writebar">
				<i class="fa fa-chevron-left"></i>
			</div>
			
		</script>
		
	
		
		
		<script id="tpl_writebutton" type="text/template">

			
			<button class="action button right transparent" >
				<i class="fa fa-chevron-right"></i>
				<span>
					<%=label%>
				</span>
			</button>
			
		</script>
		
		
		<script id="tpl_clearbutton" type="text/template">

			<button class="action button transparent<% if(disabled){print(" disabled");} %>" >
				<span>
					<i class="fa fa-times"></i>
				</span>
			</button>
			
		</script>
		
		<script id="tpl_startbutton" type="text/template">

			<a href="#"  class="action button" ><span><i class="fa fa-play"></i></span></a>
			
		</script>
		
		<script id="tpl_stopbutton" type="text/template">

			<a href="#"  class="action button" ><span><i class="fa fa-stop"></i></span></a>
			
		</script>
		
	
		
		<script id="tpl_dinobutton" type="text/template">

			<button href="#" id="dinobutton" class="action button transparent" >
				<div class="dino dino<%=bg%>">
					<div class="dinoinner dino<%=inner%>"></div>
				</div>
			</button>
			
		</script>
		
		
		

		<script id="tpl_filebutton" type="text/template">

			<a href="#" id="filebutton" class="action button transparent" >
				<span>
					<i class="fa fa-save"></i>
				<%
				if(name){
					
					print(name);
				}
				else{
					print("unsaved file");
				}%>
				<% if(!saved){print("*");}%>
				</span>
			</a>
			
		</script>
		
		
		
		<script id="tpl_helpbutton" type="text/template">

			
			
		</script>
		
		<script id="tpl_helpbuttonmenu" type="text/template">
			
			<li>
				<button class="action button clr4<% if(disabled){print(" disabled");}%>">
					<i class="fa fa-question-circle"></i>
					<span>About / Help</span>
				</button>
			</li>
			
		</script>
		
		<script id="tpl_gallerybutton" type="text/template">

			  <li class="<% if(disabled){print("disabled");} %>">
				<button class="action button <% if(disabled){print(" disabled");} %>">
					<i class="fa fa-files-o"></i>
					<span>Gallery</span>
				</button>
			</li>
			  

		</script>
		
		
		<script id="tpl_examplesbutton" type="text/template">

			  <li>
				<button class="action button">
					<i class="fa fa-lightbulb-o"></i>
					<span>Examples</span>
				</button>
			</li>
			  

		</script>
		
		<script id="tpl_refbutton" type="text/template">

			  <li>
				<button class="action button">
					<i class="fa fa-book"></i>
					<span>Reference</span>
				</button>
			</li>
			  

		</script>
		
		
		<script id="tpl_galleryleftbutton" type="text/template">
			<a href="#" id="leftbutton" class="action button<% if(disabled){print(" disabled");} %>" >
				<span>
					<i class="fa fa-left"></i>
				</span>
			</a>
		</script>
		
		<script id="tpl_galleryrightbutton" type="text/template">
			<a href="#" id="rightbutton" class="action button<% if(disabled){print(" disabled");} %>" >
				<span>
					<i class="fa fa-right"></i>
				</span>
			</a>
		</script>
		
		<script id="tpl_loadbutton" type="text/template">

			 <li class="<% if(disabled){print("disabled");} %>">
				<button class="action button clr4<% if(disabled){print(" disabled");}%>">
					<i class="fa fa-briefcase"></i>
					<span>Your files</span>
				</button>
			</li>
			  

		</script>
		
		
		<script id="tpl_savebutton" type="text/template">

			 <button id="savebutton" class="action button buttonsmall
			 
			 	<% if(disabled){
			 		print(" disabled");
			 	}
			 	%>"
			 >
			 
				 <span>
					Save
				 </span>
				 
			 </button>
			
		</script>
		
		
		
		<script id="tpl_logobutton" type="text/template">
		
			<li>
				<button class="action button">
					<i class="fa fa-pencil-square-o"></i>
					<span>Logo</span>
				</button>
			</li>
			  
		</script>
		
		
		<script id="tpl_loginbutton" type="text/template">
			<li class="<% if(disabled){print("disabled");} %>">
				<button id="loginbutton" class="action button<% if(disabled){print(" disabled");} %>" >
				
					<% if(pic){ %>
						<img src='<%= pic %>'/>
					<% } %>
					
							
					<% if(name){ %>
						<span><%=name %></span>
						<span>Logout</span>
					<% } else { %>
						<i class="fa fa-facebook-square"></i>
						<span class="fblogin"><%=label%></span>
						
					<% } %>
				
				</button>
			</li>
			  
		</script>
		
		
		<script id="tpl_header" type="text/template">

			<div id="header"></div>
			  
		</script>
		
		<script id="tpl_writegrowl" type="text/template">
			
			<div id="writegrowl" >
				
				<p><%= message%><i style="margin-left:6px;" class="fa fa-times-circle-o"></i></p>
				
			</div>
			
		</script>
		
		<script id="tpl_canvas" type="text/template">
			
			<div id="canvas" >
				
				<canvas width="<%=width%>" height="<%=height%>" class="easelcanvas" id="bgcanvas">
				</canvas>
				
				<canvas width="<%=width%>" height="<%=height%>" class="easelcanvas" id="backingcanvas">
				</canvas>
				
				<canvas width="<%=width%>" height="<%=height%>" class="easelcanvas" id="commandscanvas">
				</canvas>
				
				<canvas width="<%=width%>" height="<%=height%>" class="easelcanvas" id="turtlecanvas">
				</canvas>
				
				
			</div>
			
		</script>
		
		
		<script id="tpl_write" type="text/template">
			
			<div id="write" class="menularge">
				
				<textarea editable="false" disabled="true" id="logonums"></textarea>
				
				<textarea resize="no" id="logodiv" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
				
				<div class="error"></div>
				
			</div>
			
		</script>
		
		
		<script id="tpl_help" type="text/template">
			
			<div id="help" class="menuxlarge">
				
				<div class="gallerytop menutop" >
					<span class="menutitle">Back</span>
					<button id="cancelbutton" class="action button button1 right transparent">
						<i class="fa fa-chevron-right"></i>
						
					</button>
				</div>
				
				<div id="helpwrapper" >
				
					<div id="helpscroller">
						
							  <div class='helpcontainer'>

							    <div class="helpcontent">
							      <div class="helptop">
							        <h3>Welcome to Logotacular!</h3>

							        <p>Logotacular is an application for drawing colourful patterns using a
							        programming language called 'Logo'.</p>

							        <p>Logo was designed to help you explore geometry and programming, by controlling
							        an on-screen imaginary 'turtle' that draws lines as it moves.</p>
							      </div>

							      <div class="helpside">
							        <p>Learn about</p>

							        <ul>
							          <li>Logical reasoning</li>

							          <li>Algorithms</li>

							          <li>Testing and debugging</li>

							          <li>Use of variables</li>

							          <li>Use of functions</li>

							          <li>Repeating - using loops</li>

							          <li>Recursion</li>

							          <li>Variable scope</li>

							          <li>Lengths and angles</li>

							          <li>Interior and exterior angles</li>

							          <li>Regular polygons</li>

							          <li>Circles and curve-based shapes</li>
							        </ul>
							      </div>

							      <div class="helpcontentright"><a href="https://youtu.be/JgDz2hoSSOI" target="_blank"><img src="img/help/help13.png"></img></a></div>
							    </div>
							  </div>

							  <div class='helpcontainer'>
							    <div class="helpcontent">
							      <div class="helptop">
							        <h3>How to write a program</h3>

							        <p>In Logo we imagine a turtle that starts at the centre and is controlled by
							        commands. As it moves around the screen it leaves a trail showing you where it
							        has moved to.</p>

							        <p>The most basic commands in Logo are 'go forward' and 'turn right'. For example
							        <span class='mono'>'fd 100'</span> tells the turtle to go forward 100 units (in
							        whatever direction it is facing), and <span class='mono'>'rt 90'</span> tells it
							        turn 90 degrees clockwise.</p>
							      </div>

							      <div class="helpside">
							        <p>Try drawing a square using:</p>
							        <pre>fd 100
rt 90
fd 100
rt 90
fd 100
rt 90
fd 100
rt 90</pre>

							        <p>You don&#8217;t have to put each command on a new line, but it can make it easier to
							        read!</p>
							      </div>

							      <div class="helpcontentright"><a href="https://youtu.be/cT8RJnqaj5Y" target="_blank"><img src="img/help/help0.png"></img></a></div>
							    </div>
							  </div>

							  <div class='helpcontainer'>
							    <div class="helpcontent">
							      <div class="helptop">
							        <h3>Drawing with colors</h3>

							        <p>You can change the color of the lines, as well as the background color of the
							        page by using the 'color' and 'bg' commands:</p>
							        <pre>bg yellow
color dkgreen</pre>
							      </div>

							      <div class="helpside">
							        <p>You can change the thickness of the lines drawn (from 1 to 20), and raise or
							        lower the pen. Lifting the pen will stop lines being drawn until you place it
							        down again.</p>
							        <pre>thick 12
fd 30 penup
fd 30 pendown
fd 30 penup
fd 30 pendown
fd 30 penup
fd 30 pendown
fd 30 penup
fd 30 pendown
fd 30
							</pre>
							      </div>

							      <div class="helpcontentright"><a href="https://youtu.be/UDqcMnAWllE" target="_blank"><img src="img/help/help1.png"></img></a></div>
							    </div>
							  </div>

							  <div class='helpcontainer'>
							    <div class="helpcontent">
							      <div class="helptop">
							        <h3>Using variables</h3>

							        <p>Variables let you define a number so you can use it in a lot of places later.
							        Not only do they let you re-use numbers, but later on you only have to change
							        them one place if you need to. Use the 'make' command to set the value of a
							        variable - for example set the variable 'side' equal to 200 like this:</p>
							        <pre>make &quot;side 200</pre>
							      </div>

							      <div class="helpside">
							        <p>Notice that you must put a &quot; symbol in front when you set a variable.</p>

							        <p>To use the variable, put a colon ( : ) in front like this:</p>
							        <pre>fd :side</pre>

							        <p>This is the same as writing 'fd 200', but it is
							        easier to change the 200 to something else if you give it a name.</p>

							        <p>Remember to use &quot; when you&#8217;re setting a variable and : when you want to use
							        it.</p>
							      </div>

							      <div class="helpcontentright"><a href="https://youtu.be/8tV-Rgoqsps" target="_blank"><img src="img/help/help2.png"></img></a></div>
							    </div>
							  </div>

							  <div class='helpcontainer'>
							    <div class="helpcontent">
							      <div class="helptop">
							        <h3>Doing arithmetic</h3>

							        <p>You can do normal arithmetic using numbers or variables.</p>

							        <p>Like most computer programs, you must write '*' for
							        multiply (or times) and '/' for divide.</p>

							        <p>You can use '+' and '-'
							        and round brackets '( )' like you normally would.</p>
							      </div>

							      <div class="helpside">
							        <p>For example:</p>
							        <pre>make &quot;h 30
make &quot;w 3*:h
fd :w - 2*:h rt 90
fd :w - :h rt 90
fd :w rt 90
fd :w + :h  rt 90
fd :w + 2*:h rt 90</pre>
							      </div>

							      <div class="helpcontentright"><a href="https://youtu.be/CTukQ1iXYzA" target="_blank"><img src="img/help/help3.png"></img></a></div>
							    </div>
							  </div>

							  <div class='helpcontainer'>
							    <div class="helpcontent">
							      <div class="helptop">
							        <h3>Loops</h3>

							        <p>Loops can be programmed by use of the 'rpt' (repeat)
							        command which tells the turtle to execute the commands inside the square brackets
							        a specific number of times.</p>
							        <pre>rpt 10 [ put your commands here and they will be executed 10 times! ]</pre>
							      </div>

							      <div class="helpside">
							        <p>We could draw a square like this:</p>
							        <pre>rpt 4 [
  fd 100
  rt 90
]</pre>

							        <p>You must start a repeat block with '[' and you must
							        end it with ']'.</p>

							        <p>Can you work out what the following code will draw?</p>
							        <pre>make &quot;a 72
make &quot;n 5
rpt :n [
  fd 100
  rt :a
]</pre>
							      </div>

							      <div class="helpcontentright"><a href="https://youtu.be/HoqjmQ_mG6M" target="_blank"><img src="img/help/help4.png"></img></a></div>
							    </div>
							  </div>

							  <div class='helpcontainer'>
							    <div class="helpcontent">
							      <div class="helptop">
							        <h3>Procedures and functions</h3>

							        <p>We know that the turtle knows the words 'make',
							        'penup', 'color' etc. A
							        function or procedure is often thought of as telling the turtle the meaning of a
							        new word, for example we could draw a square by defining a procedure called
							        'drawsquare' and then 'calling' that procedure.</p>

							        <p>You use the 'to' keyword to define a procedure, and
							        'end' to mark the end:</p>
							      </div>

							      <div class="helpside">
							        <pre>to drawsquare
  rpt 4 [
    fd 100
    rt 90
  ]
end
drawsquare</pre>

							        <p>The first 6 lines define the procedure and the last line 'calls' or 'executes'
							        the function. The spaces at the start of the lines are optional but can make it
							        easier to read.</p>
							      </div>

							      <div class="helpcontentright"><a href="https://youtu.be/qqFdYA8EIPQ" target="_blank"><img src="img/help/help5.png"></img></a></div>
							    </div>
							  </div>

							  <div class='helpcontainer'>
							    <div class="helpcontent">
							      <div class="helptop">
							        <h3>Procedures and functions continued</h3>

							        <p>Functions can optionally take some variables as input. For example, you might
							        want to re-use a block of commands more than once, with different lengths or
							        angles each time.</p>

							        <p>List the variables one by one after the name of the function as shown:</p>
							        <pre>to drawpoly :len :n</pre>
							      </div>

							      <div class="helpside">
							        <pre>to drawpoly :len :n
  rpt :n [
    fd :len
    rt (360/:n)
  ]
end
drawpoly 200 4
drawpoly 83 8</pre>

							        <p>The procedure above has two arguments, called 'len' and 'n', and it is then
							        called first with 'len' equal to 200 and 'n' equal to 4, and then with 'len'
							        equal to 83 and 'n' equal to 8.</p>
							      </div>

							      <div class="helpcontentright"><a href="https://youtu.be/51WmsvoBXys" target="_blank"><img src="img/help/help6.png"></img></a></div>
							    </div>
							  </div>

							  <div class='helpcontainer'>
							    <div class="helpcontent">
							      <div class="helptop">
							        <h3>Recursion</h3>

							        <p>Recursion happens when, inside a function, you call the same function,
							        normally with different input.</p>

							        <p>For example the program below defines a procedure which accepts one variable
							        called 'dist' and repeatedly calls itself, increasing the value of 'dist' by 5
							        each time:</p>
							      </div>

							      <div class="helpside">
							        <pre>to drawspiral :dist
  fd :dist
  rt 90
  drawspiral (:dist+5)
end
drawspiral 10
							</pre>

							        <p>The result is an increasing series of line segments, with lengths 10, 15, 20,
							        25... etc - forming a spiral.</p>

							        <p>Eventually the program will crash because it calls itself too many times!</p>
							      </div>

							      <div class="helpcontentright"><a href="https://www.youtube.com/watch?v=FROjuMglgF0" target="_blank"><img src="img/help/help7.png"></img></a></div>
							    </div>
							  </div>

							  <div class='helpcontainer'>
							    <div class="helpcontent">
							      <div class="helptop">
							        <h3>Variable scope</h3>

							        <p>The program below illustrates the concept of 'scope' in Logotacular.</p>

							        <p>Every variable exists in a 'scope' depending on where you defined it, so you
							        can have two variables with the same name that exist in different 'scopes'.</p>

							        <p>First look at the following lines from the program:</p>
							      </div>

							      <div class="helpside">
							        <pre>make &quot;j 50
to fn
  fd :j
end
fn
							</pre>

							        <p>A variable called 'j' is set to 50 outside of the function. When called, the
							        function will check if a variable called 'j' has been defined again inside the
							        function itself.</p>

							        <p>In this case it hasn&#8217;t, so the function uses the variable 'j' from outside. We
							        can say that 'j' has 'global scope' because any code can use it.</p>
							      </div>

							      <div class="helpcontentright"><a href="https://www.youtube.com/watch?v=HyXY0ACrgO4" target="_blank"><img src="img/help/help8.png"></img></a></div>
							    </div>
							  </div>

							  <div class='helpcontainer'>
							    <div class="helpcontent">
							      <div class="helptop">
							        <h3>Variable scope continued</h3>

							        <p>You can also define variables inside functions, and then they will exist
							        inside that function only</p>
							        
							      </div>

							      <div class="helpside">

							      <pre>make &quot;i 50
to fn
  make &quot;i 100
  fd :i
end
fn
fd :i</pre>
							        <p>A variable called 'i' is set to 50 outside the function. But when the function
							        is called it immediately sets another variable called 'i' to 100, and goes
							        forward 100 units.</p>
							        <br/>
							        <p>On the last line we go forward 'i' units again, but this time it will go
							        forward 50 units.</p>

							        <p>This is because there are actually two different variables called 'i', with
							        different scope, and the one that equals 100 only exists temporarily, only inside
							        the function.</p>
							      </div>

							      <div class="helpcontentright"><a href="https://www.youtube.com/watch?v=-0d6-71oeSM" target="_blank"><img src="img/help/help9.png"></img></a></div>
							    </div>
							  </div>

							  <div class='helpcontainer'>
							    <div class="helpcontent">
							      <div class="helptop">
							        <h3>Errors and debugging</h3>

							        <p>Errors are of two kinds: they can be in your code itself or they might only
							        happen when you run your code.</p>

							        <p>The first kind of errors include those such as missing out a bracket or
							        forgetting to put 'end' at the end of a function
							        definition. The second kind of errors don&#8217;t appear until you press 'Play'. For
							        example, you might try to use a variable or call a function that you haven&#8217;t
							        defined, or you might divide by zero by mistake.</p>
							      </div>

							      <div class="helpside">
							        <p>This program has an error of the first kind:</p>
							        <pre>rpt 10 [fd 10</pre>

							        <p>The program below has two errors of the second kind. Firstly 'b' is not
							        defined, and secondly you cannot divide by 'a' since it is zero.</p>
							        <pre>make &quot;a 0\nfd :b/:a</pre>

							        <p>In Logotacular a red box appears describing the error and which line it thinks the error is on.</p>
							      </div>

							      <div class="helpcontentright"><a href="https://www.youtube.com/watch?v=zuCOkS96lv8" target="_blank"><img src="img/help/help10.png"></img></a></div>
							    </div>
							  </div>

							  <div class='helpcontainer'>
							    <div class="helpcontent">
							      <div class="helptop">
							        <h3>History of Logo</h3>

							        <p>Logo was created in 1967 by Wally Feurzeig and Seymour Papert - researchers at
							        MIT. Their goal was to create an easy to learn application where kids could play
							        with words and the structure of sentences. Later versions of Logo included on
							        screen graphics and the forward and right commands to move an on-screen 'turtle'
							        around the screen, and it became known as Turtle graphics. In 1969, a physical
							        robot was designed which would move across the floor tracing its path with a
							        pen.</p>

							        <p>Seymour Papert pioneered its use in school classrooms as an educational system
							        in the early 1970&#8217;s, saying:</p>
							      </div>

							      <div class="helpside">
							        <p class='quote'>&quot;In many schools today, the phrase 'Computer-Aided Instruction'
							        means making the computer teach the child... In my vision the child programs the
							        computer and, in so doing, both acquires a sense of mastery over a piece of the
							        most modern and powerful technology and establishes an intimate contact with some
							        of the deepest ideas from science, from mathematics, and from the art of
							        intellectual model building...&quot;</p>

							        <p class='quote'>&quot;...Traditional education codifies what it thinks citizens need
							        to know and sets out to feed children this 'fish'. Constructionism is built on
							        the assumption that children will do best by finding ('fishing') for
							        themselves... the Turtle is like a person: 'I am here and I am facing north...'
							        And from these similarities comes the Turtle&#8217;s special ability to serve as a
							        representative of formal mathematics.&quot;</p>
							      </div>

							      <div class="helpcontentright"><a href="https://www.youtube.com/watch?v=zFwhmGf13Es" target="_blank"><img src="img/help/help11.png"></img></a></div>
							    </div>
							  </div>

							  <div class='helpcontainer'>
							    <div class="helpcontent">
							      <div class="helptop">
							        <h3>Support</h3>
							        	<p>For suggestions, improvements, to report bugs or to let me know how you used
							        the app in the classroom or as a student, do drop me a message at
							        john.grindall@gmail.com</p>
							        
							      </div>

							      <div class="helpside">
							      <h3 style="margin:5px;">Privacy policy</h3>
							      <ul class='privacy'>
							          <li>Logotacular has no form of log-in and collects no personal information from
							          any users.</li>

							          <li>It does not connect to any external services or servers.</li>

							          <li>All data (your Logo files) are saved locally on your device.</li>

							          <li>Logotacular contains no external links to any websites or similar.</li>

							          <li>If at any time the app is updated to include features that require log in
							          you will be provided notice and asked to choose whether to update or not.</li>
							        </ul>


							        
							      </div>

							      <div class="helpcontentright"><a href="https://www.youtube.com/watch?v=Jo0w_4Yyu-s" target="_blank"><img src="img/help/help12.png"></img></a></div>
							    </div>
							  </div>

					</div>
			
				</div>
			
			</div>
			
		</script>
		
		
		<script id="tpl_menu" type="text/template">
			
			<div id="menu" class="menusmall">
				
			</div>
			
		</script>
		
		
		
		<script id="tpl_alert" type="text/template">
			
			<div id="alert" class="menularge">
				
				<div class="menutop">
					<p><%= message %></p>
					<button id="closebutton" class="action button button1 right transparent">
						<i class="fa fa-chevron-right"></i>
					</button>
				</div>
				<p class="errorbody"><%= body %></p>
				<div class="alertbuttons
				
				<%  
					if(okLabel && noLabel){
						print(" alertbuttons3");
					}
					else if(okLabel || noLabel){
						print(" alertbuttons2");
					}
					else{
						print(" alertbuttons1");
					}
				%>
				
				">
					
					<% if(okLabel){%>
						<a href="#" id="okbutton" class="action button button0 clr<%= okColor %>" ><span><%= okLabel %></span></a>
					<%}%>
					
					<% if(noLabel){%>
						<a href="#" id="nobutton" class="action button button1 clr<%= noColor %>" ><span><%= noLabel %></span></a>
					<%}%>	
					
					<a href="#" id="cancelbutton" class="action button button2" ><span><%= cancelLabel %></span></a>
				</div>
				
			</div>
			
			
		</script>
		
		
		<script id="tpl_galleryrow" type="text/template">
			
			<div class="galleryrow"
				
				<%
					if(_id!=null){
						print(" data-id = '"+_id+"'");
					}
					
				%>
				
			>
				
				<div class="mainblock">
				
					<div class="leftcontent">
						<div class="speech">
							<span class="title"><%= name %></span>
							<div class="logo1">
								<%= logo1 %>
							</div>
							<div class="logo2">
								<%= logo2 %>
							</div>
						</div>
						<span style="display:none;" class="views"><i class="fa fa-eye"/>7</span>
					</div>
					
					<div class="rightcontent">
						
						<img class="centre" src="<%= img %>"/>
						
					</div>
					
				</div>
			
			</div>
			
		</script>
		
		
		
		
		<script id="tpl_gallerypage" type="text/template">
			
			<div class="gallerypage">
				
			</div>
					
		</script>
		
		
		
		<script id="tpl_gallerybottom" type="text/template">
			
			<div class="gallerybottom">
						
				
			</div>
					
		</script>
		
		
		
		<script id="tpl_cancelbutton" type="text/template">
			<button id="cancelbutton" class="action button button1 right transparent">
				<i class="fa fa-chevron-right"></i>
			</button>
		</script>
		
		
		<script id="tpl_galleryside" type="text/template">
			
			<div class="gallerysideoverlay">
				
				<div class="gallerysidebg"></div>
				
				<div class="galleryside">
				
					
					
					<div class="gallerytop menutop" >
						<p class="title">
							<span class="title"><%= name %></span>
						</p>
						
						<button id="cancelbuttontop" class="action button button1 right transparent">
							<i class="fa fa-chevron-right"></i>
							<span>Cancel</span>
						</button>
						
						
					</div>
			
					
					
					<textarea readonly class="logo"><%= logo %>
					</textarea>
					
					<% if(_id) { %>
						<div class="imgcontainer"><div class="imginside">
							<img class="centre" src="<%= img %>"/>
						</div>
					<% } %>
					
					<div class="alertbuttons alertbuttons2">
						<a href="#" id="okbutton" class="action button buttonsmall" ><span><%= okLabel %></span></a>
						<a href="#" id="cancelbutton" class="action button buttonsmall" ><span>Cancel</span></a>
					</div>
					
					<span class="views" style="display:none;"><i class="fa fa-eye"/>7</span>
					
				</div>
				
				
				
			</div>
					
		</script>
		
		
		
		<script id="tpl_gallerytop" type="text/template">
			
			<div class="gallerytop menutop" >
				<span class="menutitle"><%= title%></span>
			</div>
		
					
		</script>
		
		
		
		<script id="tpl_helpoverlay" type="text/template">
			
			<div id="helpoverlay" >
				
				<div class="menutop">
					<span class="menutitle">Back</span>
					<button id="cancelbutton" class="action button button1 right transparent">
						<i class="fa fa-chevron-right"></i>
					</button>
				</div>
				
				
				
				<div id="refwrapper" >
				
					<div id="refscroller">
						
						<div class='helpcontainer'>
						
							<div class="helpcontent">
										
								<table class="commands">
									<tbody>
										<tr><td>fd</td><td>fd 100<span class="italic"> - Move forward 100 units</span></td></tr>
										<tr><td>rt</td><td>rt 90<span class="italic"> - Turn right 90 degrees</span></td></tr>
										<tr><td>penup</td><td>penup<span class="italic"> - Take the pen off the paper</span></td></tr>
										<tr><td>pendown</td><td>pendown<span class="italic"> - Put it back down</span></td></tr>
										<tr><td>color</td><td>color black<span class="italic"> - Set the pen color to black</span></td></tr>
										<tr><td>bg</td><td>bg red<span class="italic"> - Set the background color to red</span></td></tr>
										<tr><td>thick</td><td>thick 5<span class="italic"> - Set the line thickness to 5 (between 1-10)</span></td></tr>
										<tr><td>rpt</td><td>rpt 4 [<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;fd 50 rt 90<br/>]<br/><span class="italic"> - Repeat the statements 'fd 50 rt 90' four times</span></td></tr>
									</tbody>
								</table>
								
							</div>
						
						</div>
						
						
						<div class='helpcontainer'>
							<div class="helpcontent">
					
						
								<table class="commands">
									<tbody>
										<tr><td>a=</td><td>make &quot;a 10<span class="italic"> - Set the value of variable a to equal 10</span></td></tr>
										<tr><td>
										to</td><td>to drawsquare<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;rpt 4 [<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;fd 100 rt 90<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;]<br/>end<br/>drawsquare
										<br/><span class="italic"> - Define a procedure called 'drawsquare', and then call it</span>
										</td></tr>
										<tr><td>
										to :param</td><td>to drawpoly :side :n<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;rpt :n [<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;fd :side rt 360/:n<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;endrpt<br/>end<br/>drawpoly 100 5
										<br/><span class="italic"> - Define 'drawpoly' which takes two parameters and then call it using 100 and 5.</span>
										</td></tr>
							
									</tbody>
								</table>
						
							</div>
						</div>
						
						<div class='helpcontainer'>
							
							<div class="helpcontent">
						
							
								<table class="colors">
									<tbody>
										<tr class="colors"></tr>
										<tr class="colors"></tr>
										<tr class="colors"></tr>
									</tbody>
								</table>
						
							</div>
						</div>
						
					</div>
			
				</div>
				
			</div>
					
		</script>
		
		
		
		<script id="tpl_examples" type="text/template">
			
			<div id="examples" >
				
				<div class="menutop">
					<span class="menutitle">Back</span>
					<button id="cancelbutton" class="action button button1 right transparent">
						<i class="fa fa-chevron-right"></i>
					
					</button>
				</div>
				
				<div id="examplesbg"></div>
				
				<div id="examplescontent">
				
					<div class="imgcontainer"><div class="imginside"><img class="centre" src="img/help/ex1.png"/></div></div>
					<div class="imgcontainer"><div class="imginside"><img class="centre" src="img/help/ex2.png"/></div></div>
					<div class="imgcontainer"><div class="imginside"><img class="centre" src="img/help/ex3.png"/></div></div>
					<div class="imgcontainer"><div class="imginside"><img class="centre" src="img/help/ex4.png"/></div></div>
					<div class="imgcontainer"><div class="imginside"><img class="centre" src="img/help/ex5.png"/></div></div>
					<div class="imgcontainer"><div class="imginside"><img class="centre" src="img/help/ex6.png"/></div></div>
					<div class="imgcontainer"><div class="imginside"><img class="centre" src="img/help/ex7.png"/></div></div>
					<div class="imgcontainer"><div class="imginside"><img class="centre" src="img/help/ex8.png"/></div></div>
					
				</div>
				
			</div>
		
					
		</script>
		
		
		<script id="tpl_gallerylist" type="text/template">
			<div>
				
				<div class="listwrapper" id="listwrapper<%=showName%>" >
				
					<div class="listscroller" id="listscroller<%=showName%>">
						
					</div>
				
				</div>

				<span class="nonefound">No files found</span>
				
			</div>
			
		</script>
		
		
		
		
		<script id="tpl_gallery" type="text/template">
			
			<div id="gallery" class="menuxlarge">
				
			</div>
			
		</script>
		
		
		<script id="tpl_load" type="text/template">
			
			<div id="load" class="menuxlarge">
				
			</div>
		
		</script>
		
		
		<script id="tpl_filename" type="text/template">
			
			<div id="filename" class="menularge">
				<div class="menutop">
					<p>Please choose a filename</p>
					
					<button id="closebutton" class="action button button1 right transparent">
						<i class="fa fa-chevron-right"></i>
					</button>
					
				</div>
				
				<input type="text" id="filenametext" value="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="your filename"></input>
				<p class="error">Error <%=error %></p>
				<div class="alertbuttons alertbuttons2">
					<a href="#" id="okbutton" class="action button button0" ><span>Ok</span></a>
					<a href="#" id="cancelbutton" class="action button button1" ><span>Cancel</span></a>
				</div>
				
			</div>
			
			
		</script>
		
		
		
		<script id="tpl_activity" type="text/template">
			
			<div id="activity">
				
			</div>
			
		</script>

		
	</head>
	
	
	
	<body>
	
		<div id="fb-root"></div>
		
		<div id="container">
		
			<div id="floatingBarsG">
				<div class="blockG" id="rotateG_01">
				</div>
				<div class="blockG" id="rotateG_02">
				</div>
				<div class="blockG" id="rotateG_03">
				</div>
				<div class="blockG" id="rotateG_04">
				</div>
				<div class="blockG" id="rotateG_05">
				</div>
				<div class="blockG" id="rotateG_06">
				</div>
				<div class="blockG" id="rotateG_07">
				</div>
				<div class="blockG" id="rotateG_08">
				</div>
				</div>
		
		</div>
			
		<script>
		
			// this is a global namespace for all objects in this app.
			window.LG = {};
		
		</script>
		
		<!-- include all the javascript libraries -->
		<script src="js/app/libs-min.js" 					type="text/javascript" charset="utf-8"></script>
		
		_PHONEGAP_
				
		<!-- the main javascript -->
		<script src="js/app/main-min.js" 					type="text/javascript" charset="utf-8"></script>
		
		

	</body>
	
	
</html>
