<!DOCTYPE html>

<html>  
	<head> 
	
		<title>logotacular</title> 
		
		<link rel="stylesheet" 						href="css/web/styles.css">
		<link rel="stylesheet" 						href="css/web/bootstrap/css/bootstrap.min.css">
		
	</head>
	
	<body>
		
		<div id="container">
		
			<div class="container">
				
				<div class="page-header" id="simitri" style="margin-top:0;">
					
					<div class="row">
						
						<div class="col-lg-12 col-md-12 col-sm-12">
							
							<div class="panel panel-success">
								
								<div class="panel-heading" style="border-bottom: 4px solid #5ca83e;border-radius:0;">
									<h3 class="panel-title">Logotacular</h3>
								</div>
								
								<div class="panel-body">
									<div class="row">
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
											<a href="img/workother/logo/logo.png"><img src="img/workother/logo/logo.png" style="display: block;margin-top:10px;margin-left:auto;margin-right:auto;"></a>
										
										</div>
									
										<div class="col-lg-10 col-md-10 col-sm-10 col-xs-9">
										
											<p>
												Logotacular is a colourful app to help you learn 'Logo', a programming language designed
												to assist in learning geometry and programming.
											</p>
											
											<p>
												The most basic commands in Logotacular are the 'go forward' command and the 'turn right' command.
						
										
												You use these commands to control a small on-screen 'turtle', which draws a colourful path as it moves.
									
												You can change the background color, line color and the thickness of the lines drawn, as well as and raising/lowering the pen. 
											
											
												Loops can be programmed by use of the 'repeat' command which tells the turtle to
											
												execute a set of commands a specific number of times.

												Variables are used to tell the turtle the value assigned to a letter, and functions (or 'procedures') are
												used to name a set of commands so that you can easily execute them later, all concepts useful in learning other programming languages!
										
										
											</p>
																				
										</div>
										
									</div>
									
									
									<div class="row" style="margin-top:15px;">
											
										<p>
											
											Logo was created in 1967 by Wally Feurzeig and Seymour Papert - researchers at MIT university. 
											
											Their goal was to create an easy to learn application where kids could play with words and the 
											
											structure of sentences. Later versions of Logo included on screen graphics and the forward and 
											
											right commands to move an on-screen 'turtle' around the screen.
											
											In 1969, a physical robot was designed which would move across the floor tracing its path with a pen.
										
											Seymour Papert pioneered its use in school classrooms as an educational system in the early 1970's.
										
												
										</p>
											
									</div>
									
									
									
									<div class="row" >
										
										
										<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					
											<a href="/app" target="_blank" style="min-height:65px;max-width:386px;margin: 10px;font-size: 120%;margin-left: auto;margin-right: auto;display: block;" class="btn btn-primary btn-lg">
											
												<img style="width:140px;" src="img/logo/web-button_white.png" class="hidden-xs hidden-sm">
												Launch the web app
												<span class="glyphicon glyphicon-chevron-right"></span>
											
											</a>
						
											
										</div>
										
										
										<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					
											<a href="http://www.numbersandpictures.com/#logotacularapp" target="_blank" style="min-height:65px;max-width:386px;margin: 10px;font-size: 120%;margin-left: auto;margin-right: auto;display: block;" class="btn btn-warning btn-lg">
											
												<img style="width:140px;" src="img/logo/app_store_badge.png" class="hidden-xs hidden-sm">
												Go to the app page
												<span class="glyphicon glyphicon-chevron-right"></span>
											
											</a>
						
											
										</div>
										
									</div>
									
									
									<div class="row" style="padding-top:20px;">
										
										<div class="col-lg-8 col-md-8 col-sm-8">
											<ul class="features">
												<li>Learn about programming using an on-screen turtle</li>
												<li>Make colourful patterns as you learn about geometry and coding</li>
												<li>Understand variables and loops</li>
												<li>Use functions (procedures) and recursion</li>
												<li>Save your code and come back to it later</li>
												
											</ul>
										</div>
										
										
									</div>
									
								</div>
								
							</div>
									
						</div>
							
					</div>
									
							
							
									
									
									
									
									
					<div class="row" style="padding-top:20px;">
						<div id="myCarousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
							
								<div class="item active">  	<img src="img/workother/logo/ss7.png">					</div>
								<div class="item">  	<img src="img/workother/logo/ss8.png">	</div>
								
								<div class="item">  	<img src="img/workother/logo/ss9.png">	</div>
								<div class="item">  	<img src="img/workother/logo/ss10.png">	</div>
								<div class="item">  	<img src="img/workother/logo/ss1.png">	</div>
								<div class="item">  	<img src="img/workother/logo/ss2.png">	</div>
								<div class="item">  	<img src="img/workother/logo/ss3.png">	</div>
								<div class="item">  	<img src="img/workother/logo/ss4.png">	</div>
								<div class="item">  	<img src="img/workother/logo/ss5.png">	</div>
								<div class="item">  	<img src="img/workother/logo/ss6.png">	</div>
							</div>
							<a class="carousel-control left" href="#myCarousel" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left"></span>
							</a>
							<a class="carousel-control right" href="#myCarousel" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right"></span>
							</a>
						</div>
					
					</div>
					
					<div class="row" style="padding-top:20px;">
					
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="col-lg-4 col-md-4 col-sm-4">
								<a href="img/workother/logo/ss7.png" target="_blank"><img src="img/workother/logo/ss7.png"></a>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<a href="img/workother/logo/ss8.png" target="_blank"><img src="img/workother/logo/ss8.png"></a>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<a href="img/workother/logo/ss9.png" target="_blank"><img src="img/workother/logo/ss9.png"></a>
							</div>
						</div>
					</div>
					
					<div class="row" style="padding-top:20px;">
						<div class="col-lg-12 col-md-12 col-sm-12">
							
							<div class="col-lg-4 col-md-4 col-sm-4">
								<a href="img/workother/logo/ss10.png" target="_blank"><img src="img/workother/logo/ss10.png"></a>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<a href="img/workother/logo/ss1.png" target="_blank"><img src="img/workother/logo/ss1.png"></a>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<a href="img/workother/logo/ss2.png" target="_blank"><img src="img/workother/logo/ss2.png"></a>
							</div>
						</div>
					</div>
					
					<div class="row" style="padding-top:20px;">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="col-lg-4 col-md-4 col-sm-4">
								<a href="img/workother/logo/ss3.png" target="_blank"><img src="img/workother/logo/ss3.png"></a>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<a href="img/workother/logo/ss4.png" target="_blank"><img src="img/workother/logo/ss4.png"></a>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<a href="img/workother/logo/ss5.png" target="_blank"><img src="img/workother/logo/ss5.png"></a>
							</div>
						</div>
					</div>
					
					
					<div class="row" style="padding-top:20px;">
						<iframe style="margin-bottom: 20px;margin-left: auto;margin-right: auto;display: block;" width="420" height="315" src="https://www.youtube.com/embed/6J6Mo9SPkB8" frameborder="0" allowfullscreen></iframe>
					</div>
									
					
						
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="panel panel-danger">
							
								<div class="panel-heading">
									<h3 class="panel-title">Privacy policy (web app)</h3>
								</div>
								<div class="panel-body">
								
									<div class="row" style="padding-top:20px;">
									
										<div class="col-lg-12 col-md-12 col-sm-12">
											<ul class="features">
											
												<li>
													Logotacular contains Facebook log in if you wish to save or load your files.
												</li>
								
												<li>
													You can use Logotacular without logging in, in which case no personal information is collected.
												</li>											
											
												<li>
													If you do log in, Logotacular will store your Facebook id, to associate you with your files, and no other pieces of personal information such as your name or email address.
												</li>
											
												<li>
													Your files will be visible on the public gallery to enable collaboration and sharing, but your name, Facebook id or any other piece of information is not visible.
												</li>
											
												<li>
													All data is stored securely and is not shared with any 3rd parties.
												</li>
											
											</ul>
										</div>
								
									</div>
								
								</div>
								
							</div>
						
						</div>
						
					</div>
					
						
						
						
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="panel panel-danger">
						
								<div class="panel-heading">
									<h3 class="panel-title">Privacy policy (iPad app)</h3>
								</div>
								<div class="panel-body">
							
									<div class="row" style="padding-top:20px;">
								
										<div class="col-lg-12 col-md-12 col-sm-12">
											<ul class="features">
										
												<li>
													Logotacular collects no personal information from any user.
												</li>
							
												<li>
													It does not connect to the internet and your files are all saved locally, on your device.<p></p>
												</li>	
										
											</ul>
										</div>
							
									</div>
							
								</div>
							
							</div>
					
						</div>
					
					</div>
						
						
									
				
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="panel panel-danger">
								<div class="panel-heading">
									<h3 class="panel-title">Support</h3>
								</div>
								
								<div class="panel-body">
								
									<div class="row" style="padding-top:20px;">
									
										<div class="col-lg-12 col-md-12 col-sm-12">
										
											<p>
												We'd love to hear what you think about Logotacular!
											</p>
										
											<p>
												For support using the app, for more information, to suggest improvements, report bugs or tell us how you or your students used the app, please contact john.grindall@gmail.com	
											</p>
										
										</div>
								
									</div>
								
								</div>
								
							</div>
						
						</div>
					
					</div>
						
				</div>
				
			</div>
		
		</div>
	
	</body>
	
</html>
