@filebg:				#fff;
@menubg:				#fff;

@menu:					#28B62C;
@menuborder:			#23a127;

@bg0				:	#158CBA;
@border0			:	#127BA3;
@bg1				:	@menu;
@border1			:	@menuborder;
@bg2				:	#ff4136;
@border2			:	#ff291c;
@bg3				:	#75caeb;
@border3			:	#5fc1e8;
@bg4				:	#ff851b;
@border4			:	#ff7701;

@textbg				:	#eee;
@mainmenubg			:	#eee;
@scrollbar:				#ddd;
@buttontext:			white;
@buttontextdisabled:	#ccc;
@maintext:				#333;

