

 ul{
	position: absolute;
	top: 40px;
	left: 0;
	width:100%;
	margin: 0;
	padding: 0;
	bottom: 40px;
	.animate(3s);
}

 ul.moveleft{
	left:-100%;
}
 ul.moveright{
	left:100%;
}


 .galleryrow{
	width:100%;
	opacity: 1;
	padding:0px;
	height:33.2%;
	margin:0;
}

.galleryrow .mainblock{
	color:#111;
	position:relative;
	background: #eee;
	height: 84%;
	width: 90%;	
	border: 5px solid #ddd;
	border-radius: 8px;
	left: 5%;
	top: 8%;
	cursor:hand;
	cursor:pointer;
}


.galleryrow .mainblock .leftcontent{
	width:50%;
	float:left;
	position:relative;
	height:100%;
}
.galleryrow .mainblock .rightcontent{
	width: 46%;
	height: 100%;
	position: relative;
	left: 3%;
}

.galleryrow .mainblock .leftcontent .speech{
	border:none;
	border-radius:5px;
	position:absolute;
	background:@lightdino0;
	display:inline-block;
	left:5px;
	top:5px;
	bottom:54px;
	right:0;
	border-style:solid;
	border-width:1px;
	border-bottom-left-radius:0;
	border-bottom-width:3px;
}

.galleryrow.dino0 .mainblock .leftcontent .speech{
	background:@lightdino0;
	border-color:@lightdino0b;
}
.galleryrow.dino1 .mainblock .leftcontent .speech{
	background:@lightdino1;
	border-color:@lightdino1b;
}
.galleryrow.dino2 .mainblock .leftcontent .speech{
	background:@lightdino2;
	border-color:@lightdino2b;
}
.galleryrow.dino3 .mainblock .leftcontent .speech{
	background:@lightdino3;
	border-color:@lightdino3b;
}
.galleryrow.dino4 .mainblock .leftcontent .speech{
	background:@lightdino4;
	border-color:@lightdino4b
}

.galleryrow .triangle{
	width:0px;
	height:0px;
	border-width: @tri_size_gallery @tri_size_gallery 0 0;
	border-style:solid;
	position: absolute;
	bottom: -(@tri_size_gallery);
	left: 0px;
	z-index: 10;
}

.galleryrow.dino0 .triangle{
	border-color: @lightdino0 transparent transparent transparent;
}
.galleryrow.dino1 .triangle{
	border-color: @lightdino1 transparent transparent transparent;
}
.galleryrow.dino2 .triangle{
	border-color: @lightdino2 transparent transparent transparent;
}
.galleryrow.dino3 .triangle{
	border-color: @lightdino3 transparent transparent transparent;
}
.galleryrow.dino4 .triangle{
	border-color: @lightdino4 transparent transparent transparent;
}

.galleryrow .mainblock .speech:after {
	content: "";
	position: absolute;
	left: -1px;
	bottom: -(@tri_size_gallery + 5);
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: (@tri_size_gallery + 5) (@tri_size_gallery + 5) 0 0;
}
.galleryrow.dino0 .mainblock .speech:after {
	border-color: @lightdino0b transparent transparent transparent;
}
.galleryrow.dino1 .mainblock .speech:after {
	border-color: @lightdino1b transparent transparent transparent;
}
.galleryrow.dino2 .mainblock .speech:after {
	border-color: @lightdino2b transparent transparent transparent;
}
.galleryrow.dino3 .mainblock .speech:after {
	border-color: @lightdino3b transparent transparent transparent;
}
.galleryrow.dino4 .mainblock .speech:after {
	border-color: @lightdino4b transparent transparent transparent;
}



.galleryrow .mainblock .leftcontent img{
	position:absolute;
	left:7px;
	bottom:0px;
}
.galleryrow.dino0 .mainblock .leftcontent img{
	left:10px;
}

.galleryrow .mainblock .logo{
	color:#fff;
	font-size:95%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	position: absolute;
	left: 5px;
	top: 26px;
	bottom: 3px;
	right: 3px;
}

.galleryrow .mainblock .title{
	width:100%;
	text-align:center;
	display: block;
	color:white;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	font-size:110%;
}



.galleryrow .mainblock .rightcontent img{
	max-height: 98%;
	position: absolute;
	max-width: 99%;
	width: 99%;
	top: 1%;
};

.gallerybottom,  .gallerytop{
	position: absolute;
	width:100%;
	height:@bottomheight;
}
.gallerybottom{
	bottom: 0;
	left:0;
}

.gallerybottom a.action.button{
	width:49%;
}

.gallerytop{
	left:0;
	top:0;
	-webkit-box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 5px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 5px 5px rgba(50, 50, 50, 0.75);
}

.gallerytop a{
	width:100%;
	margin:0;
}

#gallery{
	.rightmenutransparent;
}

.listwrapper{
	width:100%;
	position:absolute;
	top:50px;
	bottom:0px;
	overflow: hidden;
}

.listscroller{
	height:100%;
}

.gallerypage{
	height:98%;
	width:200px;
	float:left;
}

.galleryside{
	position:absolute;
	top:54px;
	bottom:10px;
	right:-33%;
	width:33%;
	background:#ccc;
	.animate;
}
.galleryside .logo{
	width:100%;
	height:100px;
	background:#123;
	padding:6px;
	box-sizing:border-box;
}
.galleryside .imgcontainer{
	position: absolute;
	top: 138px;
	bottom: 50px;
	border: 1px solid orange;
	width:100%;
}

.galleryside #likebutton{
	position: absolute;
	top: 0;
	right: 0;
}

.galleryside p.title{
	text-align:center;
	font-size: 121%;
	margin:4px;
}
.galleryside .alertbuttons{
	position: absolute;
	bottom: 0;
	left: 165px;
}

.galleryside.show{
	right:0;
}
