
#textcontainer{
	width:100%;
	height:100%;
}

#write #logodiv{
	position:absolute;
	outline: none;
	border:none;
	font-family:Roboto, Tahoma, Arial, Helvetica, sans-serif;
	font-size:190%;
	background:transparent;
	left:0;
	right:0;
	top:53px;
	bottom:@bottomheight;
	padding: 5px;
	color:#111;
	resize:none;
	overflow-y:scroll;
}

#write #logodiv::-webkit-scrollbar {
    width: 12px;
}

#write #logodiv::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
	background:@grey;
	border-radius:0;
}

#write #logodiv::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	background:@scrollbar;
	border-radius:0;
}




#writebuttons{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:@bottomheight;
	background:transparent;
}

#writetop{
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:@bottomheight;
	background:@greydark;
}

#writebuttons .button{
	color:#158CBA;
	float:left;
}

#writebuttons #savebutton, #writebuttons #newbutton{
	color: white;
	position: relative;
	bottom: 4px;
	margin:7px;
}
#writebuttons #newbutton{
	margin-left:0px !important;
}

#write .error{
	position: absolute;
	bottom: 50px;
	right: -250px;
	width: 250px;
	height: 60px;
	background: #28B62C;
	font-size: 90%;
	box-sizing: border-box;
	padding: 5px;
	color: #fff;
	text-align: center;
	overflow: hidden;
	visibility:hidden;
	.animate;
}

#write .error.show{
	right:0px;
	visibility:visible;
}
