

.menuxlarge ul{
	position: absolute;
	top: 40px;
	left: 0;
	width:100%;
	margin: 0;
	padding: 0;
	bottom: 40px;
	.animate(3s);
}

.menuxlarge ul.moveleft{
	left:-100%;
}
.menuxlarge ul.moveright{
	left:100%;
}

.menuxlarge .layout12 .galleryrow{
	width:25%;
	height:33.5%;
}

.menuxlarge .galleryrow{
	width:100%;
	opacity: 1;
	padding:0px;
	height:33%;
	margin:0;
}

.galleryrow div.mainblock{
	color:#111;
	position:relative;
	background: #eee;
	height: 84%;
	width: 90%;	
	border: 5px solid #ddd;
	border-radius: 8px;
	left: 5%;
	top: 8%;
	cursor:hand;
	cursor:pointer;
}


.galleryrow div.mainblock .leftcontent{
	width:50%;
	float:left;
	position:relative;
	height:100%;
}
.galleryrow div.mainblock .rightcontent{
	width: 49%;
	height: 100%;
	position: relative;
}

.galleryrow div.mainblock .leftcontent .speech{
	border:none;
	border-radius:5px;
	position:absolute;
	background:@ltgreen;
	display:inline-block;
	left:5px;
	top:5px;
	bottom:70px;
	right:0;
	border-bottom-left-radius:0;
}

.galleryrow.dino0 div.mainblock .leftcontent .speech{
	background:pink;
}

.galleryrow div.mainblock .leftcontent img{
	position:absolute;
	left:2px;
	bottom:2px;
}
.galleryrow div.mainblock .speech:after {
	content: "";
	position: absolute;
	left: 0px;
	bottom: -15px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 15px 15px 0 0;
	border-color: green transparent transparent transparent;
}
.galleryrow div.mainblock .logo{
	color:white;
	font-size:83%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	position: absolute;
	left: 5px;
	top: 19px;
	bottom: 3px;
	right: 3px;
}

.galleryrow div.mainblock .title{
	width:100%;
	text-align:center;
	display: block;
	color:#ddd;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}



.galleryrow div.mainblock .rightcontent img{
	max-height: 98%;
	position: absolute;
	max-width: 99%;
	width: 99%;
	top: 1%;
};

.galleryrow div.sidebar{
	height: 82%;
	background: red;
	width: 12px;
	position: relative;
	top:9%;
}

.gallerybottom, .menuxlarge .gallerytop{
	position: absolute;
	width:100%;
	height:@bottomheight;
}
.gallerybottom{
	bottom: 0;
	left:0;
}

.gallerybottom a.action.button{
	width:49%;
}

.gallerytop{
	left:0;
	top:0;
	-webkit-box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 5px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 5px 5px rgba(50, 50, 50, 0.75);
}

.gallerytop a{
	width:100%;
	margin:0;
}

#gallery{
	.rightmenutransparent;
}

.listwrapper{
	width:100%;
	position:absolute;
	top:50px;
	bottom:0px;
	overflow: hidden;
}

.listscroller{
	height:100%;
}

.gallerypage{
	height:98%;
	width:200px;
	float:left;
}

