div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
	color:					#28B62C;
	background:				transparent;
	width: 					400px;
	padding: 				12px;
	margin-bottom: 			2px;
	text-align: 			left;
	opacity: 				0.5;
	
}
div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
	font-family: Roboto, Tahoma, Arial, Helvetica;
}
div.jGrowl {
	font-size:24px;
}
div.jGrowl-closer, div.jGrowl-close{
	display:none;
	visibility:hidden;
}

div.jGrowl.bottom-left {
	left: 5px;
	bottom: 0px;
}

	