#write{
	background:@textbg;
}
#textcontainer{
	width:100%;
	height:100%;
}

#write #logodiv, #write #logonums{
	position:absolute;
	top:@bottomheight + 3;
	bottom:@bottomheight;
	font-size:115%;
	background:@textbg;
	color:#111;
	font-family:Roboto, Tahoma, Arial, Helvetica, sans-serif;
	resize:none;
	border-radius:0;
	border:none;
	padding:0;
	margin:0;
}

#write #logodiv{
	left:32px;
	right:0px;
	overflow-y:scroll;
	-webkit-overflow-scrolling: touch;
	width: 363px;
}

#write #logonums{
	position:absolute;
	left:2px;
	width:30px;
	word-wrap: normal;
	overflow: hidden;
	color: #aaa;
	background: @textbg;
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #ddd;
}

#writebuttons{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:@bottomheight;
	background:transparent;
}

#writetop{
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:@bottomheight;
	background:@menu;
}

#writebuttons #savebutton, #writebuttons #newbutton{
	color: white;
	position: relative;
	bottom: 4px;
	margin:7px;
}
#writebuttons #newbutton{
	margin-left:0px !important;
}

#write .error{
	position: absolute;
	bottom: @bottomheight;
	right: -360px;
	width: 353px;
	height: 60px;
	background: @menu;
	font-size: 100%;
	box-sizing: border-box;
	padding: 5px;
	color: #fff;
	text-align: center;
	overflow: hidden;
	visibility:hidden;
	.animate;
}

#write .error.show{
	right:0px;
	visibility:visible;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background: #aaa;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    -webkit-border-radius: 1ex;
}

#writebar{
    position:fixed;
    width:60px;
    background:@menu;
    top:0;
    bottom:0;
    right:-65px;
    color:white;
    cursor:hand;
    cursor:pointer;
}
#writebar.show{
    right:0;
}
#writebar i{
	display: block;
	position: absolute;
	top: 50%;
	left: 20px;
	font-size: 36px;
}

#contextbuttons{
	position:fixed;
	top:0;
	left:0;
	width:50px;
	height:100px;
	background:@menu;
	display:none;
	color:white;
}

#contextbuttons.show{
	display:block;
}

#contextbuttons button.context{
	width:50px;
	min-width:50px;
	padding: 0;
	margin: 0;
	height: 40px;
}
